body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('fondoindex1.jpg');
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}


h1 {

    color: white;
    font-family: Papyrus, fantasy;
    border: 2px solid white;       /* Line around the text */
    padding: 20px 20px;            /* Space inside the border */
    display: inline-block;         /* So the border wraps tightly */
    border-radius: 8px;            /* Optional: rounded corners */
    background-color: rgba(0, 0, 0, 0.4); /* Optional: translucent background */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 

}


/* Casilla central */
.container {
    background-color: #FFA1AD;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px 40px;
    margin-top: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

/* Elementos internos */
input,
button,
p {
    margin: 10px 0;
    font-size: 16px;
    width: 100%;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
